<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Users</title>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <script src="/js/admin/users.js" defer ></script>
    <script src="https://kit.fontawesome.com/33a0c4cc3a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="main-content">
 {{>header}}
   <div class="leaderboards-container">
      <div>
        <table class="highscore-table global">
          <caption>All GitGud Users</caption>
          <tbody>
              <tr>
                  <th>Username</th>
                  <th>Admin</th>
                  <th>DELETE</th>
                  <th>PATCH</th>
                
              </tr>
        <!-- global data could optionally be included here -->
         </tbody>
       </table>
      </div>
    </div>
    

    <div class="pagination">
        <div>
            <p>Previous</p>
            <a class="prev-btn">❮</a>
        </div>
        <div>
            <p>Next</p>
            <a class="next-btn">❯</a>
        </div>
    </div>
    


    <template id="highscore-row">
        <tr class="loadedItems">
        <td class="username"></td>
        <td class="admin"></td>
        <td class="delete">
            <i class="fas fa-trash-alt delete-button"></i>
        </td>
        <td class="patch">
            <i class="fas fa-sync-alt patch-button modal-btn"></i>
        </td>
        </tr>
    </template>


    <div class="modal-bg">
            <form action="POST" class="update-form modal">
                <h2>Update User</h2>
                <span>
                    <label for="name"></label>Username:
                    <input type="text" name="name" id="usernameFormId">
                </span>
                <span>
                    <label for="password"></label>Password:
                    <input type="text" name="password" id="passwordFormId">
                </span>
                <span>
                    <input type="checkbox" id="isAdminFormId" name="isAdmin"> Admin
                </span>
                <button type="submit">Update</button>
             <span class="modal-close">X</span>

            </form>
    </div>

</div>
{{>footer}}
</body>
</html>