.log-out {
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

.user-log-info {
  color: white;
  display: block;
  margin-bottom: 10px;
}

.log-out-section {
  background-color: #34495e;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 15px;
  border-radius: 7px;
}

div.card-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 60%;
  max-height: 550px;
  max-width: 700px;
  justify-items: center;
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  background-color: rgba(52, 73, 94, 0.9);
  border-radius: 7px;
  overflow-y: auto;
}

@media screen and (max-width: 1030px) {
  div.card-holder {
    position: fixed;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    width: 250px;
    max-height: 800px;
    overflow-y: scroll;
    top: 468px;
    left: 140px;
  }
}

.card-container {
  padding: 5px;
  background-color: #34495e;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.anchor-container {
  box-shadow: 0 0 15px black;
}

.anchor-container:hover {
  box-shadow: 0 0 15px #27ae60;
}

.card-container img {
  width: 200px;
  height: 150px;
}

/* messaging styling */
.message-holder {
  position: absolute;
  right: 30px;
  top: 150px;
  background-color: rgba(52, 73, 94, 0.9);
  border-radius: 7px;
  height: 300px;
  width: 250px;
}

.message-holder button:not(.remove-btn) {
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: cadetblue;
  border: none;
  cursor: pointer;
  border-top-left-radius: 5px;
}

.active-messager,
.messager-head,
.user-head {
  background-color: #34495e;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.messager-head {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 83, 83);
  border-radius: 10px;
}

.messages,
.messagers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: 16px/1.3 sans-serif;
  height: 228px;
  list-style-type: none;
  margin: 0 auto;
  padding: 8px;
  max-width: 250px;

  overflow: auto;
}

.messages li {
  background: #eee;
  border-radius: 8px;
  padding: 8px;
  margin: 2px 8px 2px 0;
  color: black;
}

.messages li.ours {
  align-self: flex-end; /* Stick to the right side, please! */
  margin: 2px 0 2px 8px;
  background: cadetblue;
  color: white;
  margin-right: 15px;
}

ol.messagers {
  padding: 0;
  overflow-x: hidden;
}

.user,
.db-user {
  width: 100%;
  background-color: cadetblue;
  border: 1px solid black;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 1.1em;
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user span {
  pointer-events: none;
}

.user:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

#message {
  position: absolute;
  width: 90%;
  bottom: 5px;
}

.post-user {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/******************************/
/* Contest styling */
/******************************/
.contestOpenContainer {
  display: flex;
  gap: 10px;
}
.createContest,
.contestsBtn {
  background-color: #34495e;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popupWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  background-color: #34495e;
  color: white;
  border-radius: 10px;
  z-index: 10;
  padding: 10px;
  width: 800px;
  max-width: 80%;
  height: 500px;
  max-height: 80%;
  overflow: hidden;
}

.popupWindow.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 120ms ease-in;
}

.popupHeader {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.popupHeader .popupTitle {
  font-size: 1.25rem;
  /* font-weight: bold; */
}
.popupHeader .closeButton {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
.popupBody {
  padding: 10px 15px;
}
.popupBody .popupBodyHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dashed black;
}
.popupBody .invitationButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 10px;
  left: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.popupBody .popupBodyHeader .dateEnd,
.popupBody .popupBodyHeader .dateStart,
.popupBody .popupBodyHeader .gameName {
  margin: 10px;
}
.popupBody .popupBodyBody {
  display: flex;
  justify-content: space-between;
  height: 200px;
  overflow-y: hidden;
}
*::-webkit-scrollbar-track {
  /* background: orange; */
}
*::-webkit-scrollbar-thumb {
  /* background-color: #34495e; */
  background-color: white;
  /* border-radius: 20px;
  border: 3px solid orange; */
}
.popupBody .contestGame {
  width: 200px;
  padding: 10px;
  /* border: 1px solid black; */
}
.popupBody .contestDateStart {
  width: 200px;
  /* text-align: center; */
  padding: 10px;
  /* border: 1px solid black; */
}
.popupBody #dateStartInput,
.popupBody #dateEndInput {
  max-width: 170px;
}
.popupBody .contestDateEnd {
  width: 200px;
  padding: 10px;
  /* border: 1px solid black; */
}
.popupBody .contestPlayers {
}
.popupBody .contestPlayer {
  margin: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.popupBody .contestFriendList {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  min-width: 150px;
  overflow-y: auto;
  height: 150px;
  /* max-height: 40%; */
}
.popupBody .contestFriendList .friendInList {
  margin: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.pSigns {
  margin: 0;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 20px;
  align-self: center;
  text-align: center;
  border-radius: 3px;
  visibility: hidden;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 150ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 9;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.contestTemplate {
  height: 60px;
}
.popupBodyList, .popupBodyListFinished {
  overflow-y: auto;
}
.popupBodyList div, .popupBodyListFinished div {
  margin: 3px;
}
.popupBodyList .contestTemplate, .popupBodyListFinished .contestTemplate {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 10px;
}
.popupBodyList .contestButtonAccept {
  border: 1px solid black;
  border-radius: 3px;
  background-color: green;
  margin: 2px;
  padding: 3px;
  cursor: pointer;
}
.popupBodyList .contestButtonDecline,
.popupBodyList .contestButtonResign {
  border: 1px solid black;
  border-radius: 3px;
  background-color: red;
  margin: 2px;
  padding: 3px;
  cursor: pointer;
}
.popupHeader .filterContests {
  display: flex;
  justify-content: space-between;
}
.popupHeader .filterActive, .popupHeader .filterFinished {
  width: 75px;
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.popupHeader .filterActive {
  background-color: rgba(0, 0, 0, 0.2);
}
.popupBodyList .pending {
  animation-name: backgroundAnim;
  animation-duration: 1.5s;
}
@keyframes backgroundAnim {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: none;
  }
}
.popupBodyContest {
  visibility: hidden;
}

/******************************/
/* END Contest styling */
/******************************/

/* show users styling */
.show-users {
  position: absolute;
  right: 30px;
  top: 550px;
  background-color: rgba(52, 73, 94, 0.9);
  border-radius: 7px;
  width: 250px;
  max-height: 500px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: 16px/1.3 sans-serif;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 250px;
}

.add-friend-btn {
  width: 40px;
  height: 25px;
  margin: 0 auto;
  text-align: center;
  border-radius: 7px;
  background-color: #0f9b4a;
  border: 1px solid black;
}

.add-friend-btn:hover {
  cursor: pointer;
  background-color: #097536;
}

.remove-btn {
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(187, 51, 51);
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
}

/* ---- Overlay for Friendlist update ----*/
.friend-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #34495e;
  color: white;
  border-radius: 10px;
  z-index: 10;
  padding: 10px;
  width: 400px;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend-overlay h1 {
  font-size: 1.5rem;
  padding: 10px;
}

.friend-overlay button {
  width: 60%;
  height: 2rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.friend-overlay button:hover {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.9);
  background-color: #dbd8d8;
}
